<a href="https://colab.research.google.com/github/Stanmest/.ipynb/blob/master/STANLEY_MBAH_1_2_Pandas_CleaningData_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# Lambda School Data Science - Intro to Pandas
---
# 05 - Cleaning Data
---

##STOP! BEFORE GOING ANY FURTHER...  


1. Click "File" at the top.
2. Then, "Save a Copy in Drive."
3. Change the file name to "FIRSTNAME_LASTNAME_1_2"  

Now you have a copy of this notebook in your Drive account. This is the copy you'll edit and submit. Be sure to do this for ***every*** assignment!

### Import pandas

In [0]:
import pandas as pd

### Import the data in the CSV file
You can find the data [here](https://raw.githubusercontent.com/axrd/datasets/master/gdpmessy2.csv). Should have a shape of (222,3). Use this [resource](https://www.iban.com/country-codes) to clean values correctly.

In [0]:
df = pd.read_csv("https://raw.githubusercontent.com/axrd/datasets/master/gdpmessy2.csv")

### Quickly inspect the head

In [0]:
df.head()

   Unnamed: 0        countrys     GDP code
0           0     Afghanistan   21.71  AFG
1           1         Albania   13.40  ALB
2           2         Algeria  227.80  DZA
3           3  American Samoa    0.75  ASM
4           4         Andorra    4.80  AND

### Inspect the tail

In [0]:
df.tail()

     Unnamed: 0             countrys    GDP code
217         217  U.S. Virgin Islands   5.08  VIR
218         218            West Bank   6.64  WBG
219         219                Yemen  45.45  YEM
220         220               Zambia  25.61  ZMB
221         221             Zimbabwe  13.74  ZMB

### What is the shape of the DataFrame? Does it correspond to what we expected?

In [0]:
df.shape

(222, 4)

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 4 columns):
Unnamed: 0    222 non-null int64
countrys      218 non-null object
GDP           219 non-null float64
code          217 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 7.1+ KB

### Do you need to change the index?

In [0]:
#Yes we need to change the index, because it has the same value with Unnamed.
df.columns

Index(['Unnamed: 0', 'countrys', 'GDP', 'code'], dtype='object')

In [0]:
df.drop("Unnamed: 0", axis=1, inplace=True)

In [0]:
df.head()

         countrys     GDP code
0     Afghanistan   21.71  AFG
1         Albania   13.40  ALB
2         Algeria  227.80  DZA
3  American Samoa    0.75  ASM
4         Andorra    4.80  AND

In [0]:
df.rename(columns={'countrys':'COUNTRY', 'code':'CODE'}, inplace=True)

### Missing values?
Find all the missing values and correct them.

In [0]:
df.isnull().sum()

COUNTRY    4
GDP        3
CODE       5
dtype: int64

In [0]:
df[df.isnull().any(axis=1)]

          COUNTRY     GDP CODE
6             NaN    0.18  AIA
14   Bahamas, The    8.65  NaN
16     Bangladesh     NaN  BGD
20            NaN    1.67  BLZ
55        Denmark  347.20  NaN
70         France     NaN  FRA
90        Hungary  129.70  NaN
96        Ireland     NaN  IRL
100       Jamaica   13.92  NaN
106           NaN    0.16  KIR
200          Togo    4.84  NaN
206           NaN    0.04  TUV

In [0]:
df.at[6, "COUNTRY"] = "Anguilla"
df.at[14, "CODE"] = "BGD"
df.at[16, "GDP"] = 186.60
df.at[20, "COUNTRY"] = "Belize"
df.at[55, "CODE"] = "DNK"
df.at[70, "GDP"] = 2902.0
df.at[90, "CODE"] = "HKG"
df.at[96, "GDP"] = 245.80
df.at[100, "CODE"] = "JAM"
df.at[106, "COUNTRY"] = "Kiribati"
df.at[200, "CODE"] = "TGO"
df.at[206, "COUNTRY"] = "Tuvalu"

### Find duplicate values  
Clean where necessary:  
*   France has a GDP of 2902.0 billion.
*   Ireland has a GDP of 245.80 billion.
*   Bangladesh has a GDP of 186.60 billion.

In [0]:
df["COUNTRY"].value_counts(sort=True).head()

New Caledonia           1
Rwanda                  1
United Arab Emirates    1
Niue                    1
Iran                    1
Name: COUNTRY, dtype: int64

In [0]:
df["GDP"].value_counts(sort=True).head(5)

0.18       3
0.75       2
0.16       2
341.20     1
2902.00    1
Name: GDP, dtype: int64

In [0]:
df["CODE"].value_counts(sort=True).head()

ARG    2
ZMB    2
BGD    2
HKG    2
MOZ    1
Name: CODE, dtype: int64

### Verify the change persisted!

In [0]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [COUNTRY, GDP, CODE]
Index: []

### Submit your assignment notebook! (Make sure you've changed the name to FIRSTNAME_LASTNAME_1_2): 

1.  Click the Share button in the upper-right hand corner of the notebook.
2.  Get the shareable link.
3.  Set condition to: "Anyone with the link can comment."
4.  TBD 


---